{% extends "layout.html" %}

{% block title %}
    Schedule
{% endblock %}

{% block main %}
<form action="/appointment" method="post">
    <div class="form-group">
        <label for="schedule">Select a day</label>
        <input type="date" name="schedule">
    </div>

    <div class="form-group">
        <label for="appt">Choose a time for your meeting:</label>
        <input type="time" id="appt" name="appt" min="09:00" max="18:00" required>
    </div>

    <div class="form-group">
        <select class="form-control" name="specialization" placeholder="Specialization" type="text">
        <option disabled selected value ="">Select a type of appointment:</option>
        <option value = "generalist">Generalist</option>
        <option value="heart">Heart</option>
        </select>
    </div>

    <div class="form-group">
        <select class="form-control" name="doctor" placeholder="Doctor" type="text">
        <option disabled selected value ="">Select a doctor:</option>
        <option value = "doctorA">doctorA</option>
        <option value="doctorB">doctorB</option>
        </select>
    </div>

    <div class="form-group">
        <input type="text" name="log" placeholder="Describe your symptons.">
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
</form>
{% endblock %}
