{% extends "layout.html" %}

{% block title %}
    Details
{% endblock %}

{% block main %}
    <div class="table-data">
        <h2>You are a {{ role }}</h2>
        <table>
            {% if role == "patient" %}
                {% for row in appointments %}
                <tbody>
                    <tr>
                        <th><td>Doctor Name</td></th>
                        <td>{{ row.name }}</td>
                    </tr>
                    <tr>
                        <th><td>Doctor Specialty</td></th>
                        <td>{{ row.type_appointment }}</td>
                    </tr>
                    <tr>
                        <th><td>Description submitted</td></th>
                        <td>{{ row.patient_log }}</td>
                    </tr>
                    <tr>
                        <th><td>Doctor's response</td></th>
                        <td>{{ row.doctor_log }}</td>
                    </tr>
                        <th><td>Date</td></th>
                        <td>{{ row.TIME }}</td>
                    </tr>
                </tbody>
                {% endfor %}
            {% endif %}
            {% if role == "doctor" %}
                <thead>
                    <tr>
                        <th>Patient Name</th>
                        <th>Consultation Type</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th>Details</th>
    
                    </tr>
                </thead>
                <tbody>
                    {% for row in appointments %}
                        <tr>
                            <td>{{ row.name }}</td>
                            <td>{{ row.type_appointment }}</td>
                            <td>{{ row.patient_log }}</td>
                            <td>{{ row.TIME }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}
