{% extends "layout.html" %}

{% block title %}
    Details
{% endblock %}

{% block main %}
    <div class="table-data">
        <h2>You are a {{ role }}</h2>
        <table>
            {% if role == "patient" %}
                {% for row in appointments %}
                <tbody>
                    <tr>
                        <th><td>Doctor Name</td></th>
                        <td>{{ row.doctors_name }}</td>
                    </tr>
                    <tr>
                        <th><td>Doctor Specialty</td></th>
                        <td>{{ row.type_appointment }}</td>
                    </tr>
                    <tr>
                        <th><td>Description submitted</td></th>
                        <td>{{ row.patient_log }}</td>
                    </tr>
                    <tr>
                        <th><td>Doctor's response</td></th>
                        <td>{{ row.doctor_log }}</td>
                    </tr>
                        <th><td>Date</td></th>
                        <td>{{ row.TIME }}</td>
                    </tr>
                </tbody>
                {% endfor %}
            {% endif %}
            {% if role == "doctor" %}
            {% for row in appointments %}
                <tbody>
                    <tr>
                        <th><td>Patient Name</td></th>
                        <td>{{ row.patients_name }}</td>
                    </tr>
                    <tr>
                        <th><td>Doctor Specialty</td></th>
                        <td>{{ row.type_appointment }}</td>
                    </tr>
                    <tr>
                        <th><td>Description submitted</td></th>
                        <td>{{ row.patient_log }}</td>
                    </tr>
                    <tr>
                        <th><td>Doctor's response</td></th>
                        <td>{{ row.doctor_log }}</td>
                    </tr>
                        <th><td>Date</td></th>
                        <td>{{ row.TIME }}</td>
                    </tr>
                </tbody>
            {% endfor %}
            {% endif %}
        </table>
    </div>
{% endblock %}
