{% extends "layout.html" %}

{% block title %}
    Find Doctors
{% endblock %}

{% block main %}
<div class="container">
		
    <input class="inputBox" type="number" id="Longitude" placeholder="Enter Longitude" />
    <input class="inputBox" type="number" id="Latitude" placeholder="Enter Latitude"/>
    <p></p>
    <button class="button" onclick="getLonLat()"> Submit</button>
    <div id='map' style='width: 100%; height:500px;'></div><br/><br/>
    
</div>

<script>
    var longitude, latitude ;
    function getLonLat(){
        longitude = document.getElementById("Longitude").value;
        latitude = document.getElementById("Latitude").value;
        display_map(longitude, latitude);
    }
    function display_map(longitude, latitude) {
        longitude = -38.55;
        latitude = -3.80;
        mapboxgl.accessToken = "{{ mapbox_access_token }}"
        var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/satellite-streets-v10',
        center: [longitude,latitude],
        zoom: 12,
        bearing: -17.6,
        pitch:45
    
        });
        // fulscreen button 
        map.addControl(new mapboxgl.FullscreenControl());
        // display a blue marker
        var marker = new mapboxgl.Marker()
              .setLngLat([longitude,latitude])
              .addTo(map);
          // Navigation marker at top-left corner
          var nav = new mapboxgl.NavigationControl();
              map.addControl(nav, 'top-left');
          // change false to true, to get your location. Then, enable location in the browser.
          map.addControl(new mapboxgl.GeolocateControl({
                positionOptions: {
                    enableHighAccuracy: false
                },
            trackUserLocation: true
        }));
          // The 'building' layer in the mapbox-streets vector source contains building-height
        // data from OpenStreetMap.
        route = {{route_data|safe}}
        map.on('load', function() {
            
            map.addSource("route", {
            "type": "geojson",
            "data": route
            });

            // Insert the layer beneath any symbol layer.
            var layers = map.getStyle().layers;
            var labelLayerId;
            for (var i = 0; i < layers.length; i++) {
                if (layers[i].type === 'symbol' && layers[i].layout['text-field']) {
                    labelLayerId = layers[i].id;
                    break;
                }
            }


            //function Test()
            map.on('click', addMarker);

            function addMarker(e){
            //add marker
            marker.remove();
            marker = new  mapboxgl.Marker().setLngLat([e.lngLat["lng"],e.lngLat["lat"]]).addTo(map);
            };

            /*
            map.addLayer({
                'id': '3d-buildings',
                'source': 'composite',
                'source-layer': 'building',
                'filter': ['==', 'extrude', 'true'],
                'type': 'fill-extrusion',
                'minzoom': 15,
                'paint': {
                    'fill-extrusion-color': '#aaa',
                    // use an 'interpolate' expression to add a smooth transition effect to the
                    // buildings as the user zooms in
                    'fill-extrusion-height': [
                        "interpolate", ["linear"], ["zoom"],
                        15, 0,
                        15.05, ["get", "height"]
                    ],
                    'fill-extrusion-base': [
                        "interpolate", ["linear"], ["zoom"],
                        15, 0,
                        15.05, ["get", "min_height"]
                    ],
                    'fill-extrusion-opacity': .6
                }
            }, labelLayerId);
            */
            map.addLayer({
                "id": "route",
                "type": "symbol",
                "source": "route"
            });

            
             // Add this to end of function
            var stop_locations = {{ stop_locations|safe }}
            stop_locations.forEach(function(marker) {
                var el = document.createElement('div');
                el.className = 'marker';
                el.style.left = '-15px';
                el.style.top = '-32px';

                new mapboxgl.Marker(el)
                    .setLngLat(marker.geometry.coordinates)
                    .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
                    .setHTML('<h3>' + marker.properties.title + '</h3><p>' + marker.properties.specialty + '</p>'))
                    .addTo(map);
            });
        });
    };
    display_map();
    
</script>
{% endblock %}
