{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <div class="table-data">
        <h2>You are a {{ role }}</h2>
        <table>
            {% if role == "patient" %}
                <thead>
                    <tr>
                        <th>Doctor Name</th>
                        <th>Doctor Specialty</th>
                        <th>Description submitted</th>
                        <th>Doctor's response</th>
                        <th>Date</th>
                        <th>Details</th>

                    </tr>
                </thead>
                <tbody>
                {% for row in appointments %}
                    <tr>
                        <td>{{ row.name }}</td>
                        <td>{{ row.type_appointment }}</td>
                        <td>{{ row.patient_log }}</td>
                        <td>{{ row.doctor_log }}</td>
                        <td>{{ row.TIME }}</td>
                        <td>
                            <form action="/details" method="post">
                                <button class="btn btn-primary" name="appointment" value="{{ row.appointments_id }}" type="submit">Details</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            {% if role == "doctor" %}
                <thead>
                    <tr>
                        <th>Patient Name</th>
                        <th>Consultation Type</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th>Details</th>
    
                    </tr>
                </thead>
                <tbody>
                    {% for row in appointments %}
                        <tr>
                            <td>{{ row.patients_name }}</td>
                            <td>{{ row.type_appointment }}</td>
                            <td>{{ row.patient_log }}</td>
                            <td>{{ row.TIME }}</td>
                            <td>
                                <form action="/details" method="post">
                                    <button class="btn btn-primary" name="appointment" value="{{ row.id }}" type="submit">Details</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
        </table>
    </div>
{% endblock %}
