{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <script>
        function hide()
            {
                document.getElementById('patientWrapper').style.display = 'none';
                document.getElementById('DoctorWrapper').style.display = 'none';
            }
            document.addEventListener('DOMContentLoaded',hide)
            function changeEvent() {
                var dropDown = document.getElementById("dropDown").value;

                if(dropDown === "default"){
                    document.getElementById('patientWrapper').style.display = 'none';
                    document.getElementById('DoctorWrapper').style.display = 'none';
                 } else {
                   document.getElementById('patientWrapper').style.display = 'none';
                    document.getElementById('DoctorWrapper').style.display = 'none';
                    if(dropDown === "patient"){
                       document.getElementById('patientWrapper').style.display = 'block';
                    } else if(dropDown === "doctor"){
                       document.getElementById('DoctorWrapper').style.display = 'block';
                    }
                    }
                 }


        /*
            function doctor()
            {
                let select = document.querySelector("type").value;
                if (select == 1)
                {
                    document.getElementById("interaction").innerHTML = '<input class="form-control" name="speciality" placeholder="Speciality" type="Number">';
                }

                document.getElementById("interaction").innerHTML = '<input class="form-control" name="speciality" placeholder="Speciality" type="Number">';
            }
            function listen()
            {
                document.querySelector('select').addEventListener('type',doctor);
            }
            document.addEventListener('DOMContentLoaded',listen);*/

    </script>
    <form action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Type password again" type="password">
        </div>


            <div class="form-group">

            <select class="form-control" id="dropDown" name="role" onchange="changeEvent()">

            <option disabled selected value =""  > Patient or Doctor </option>
            <option value = "patient" id="patient"> Patient</option>
            <option value = "doctor" id="doctor" > Doctor</option>
            </select>
        </div>
        <div id="patientWrapper">
            <div class="form-group">
                <input autocomplete="off" name="pname" placeholder="Name" type="text">
            </div>
            <div class="form-group">
                <input autocomplete="off" name="birth" placeholder="Date of Birth" type="date">
            </div>

            <div class="form-group">
                <input autocomplete="off" name="occupation" placeholder="Occupation" type="text">
            </div>
        </div>

        <div id="DoctorWrapper">
            <div class="form-group">
                <input autocomplete="off" name="dname" placeholder="Name" type="text">
            </div>
            <div class="form-group">
                <input autocomplete="off" name="menumber" placeholder="M. E. Number" type="number">
            </div>

            <div class="form-group">
                <input autocomplete="off" name="speciality" placeholder="Speciality" type="text">
            </div>



        </div>


        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
