{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

<script type="text/javascript">
	function update()
	{
		var select = document.getElementById('stock');
		var option = select.options[select.selectedIndex];
		document.getElementById('stock').value = option.text;
	}
	update();
</script>

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <label for="symbols">Choose a stock:</label>
            <select id="symbols" name="symbol" onchange="update()">
                <option value="" >Select a stock</option>
                {% for row in portfolio %}
                <option value="{{ row["symbol"] }}" id="stock">{{ portfolio[loop.index0]["symbol"] }}</option>
                {% endfor %}
            </select>
            <input autocomplete="off" class="form-control" name="shares" type="number" placeholder="Quantity of stocks">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
    <div class="table-data">
{% endblock %}